version: '3'
services:
  rabbitmq:
    image: "rabbitmq:3-management"
    environment:
      RABBITMQ_DEFAULT_USER: fasteragile
      RABBITMQ_DEFAULT_PASS: atlantis
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.config
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:15672"]
        interval: 30s
        timeout: 10s
        retries: 5

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "fasteragile!"
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  message-processor:
    depends_on:
      - rabbitmq
    build: .
    environment:
      RAILS_ENV: $RAILS_ENV
    command: bundle exec rails runner lib/message_processor.rb
    volumes:
      - .:/app
    restart: on-failure

  workers:
    depends_on:
      - rabbitmq
    build: .
    environment:
      RAILS_ENV: $RAILS_ENV
      WORKERS: "ActiveJob::QueueAdapters::SneakersAdapter::JobWrapper"
    command: bundle exec rake sneakers:run
    volumes:
      - .:/app

  api:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      RAILS_ENV: $RAILS_ENV
    command: bash -c "bundle exec rake db:create && bundle exec rake db:migrate && bundle exec rails s -b '0.0.0.0'"
    volumes:
      - .:/app

volumes:
     pgdata:
